<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to 'Home', articles_path  %> 

<%= link_to 'Edit Article', edit_article_path  %> 

<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>