<!DOCTYPE html>
<html>
  <head>
    <title>MY Wikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  </head>
  
  <body>
  <header>
    <div class="my-navbar">
      <div class="home">
        <%= link_to 'Wikinimous', articles_path %>
      </div>
      <div class="new-a">
        <%= link_to 'New Article', new_article_path %>    
      </div>
    </div>
  </header>
    

    <%= yield %>
  </body>
</html>
